{% extends "base_error.html" %}

{% block head_title %}Bad Request{% endblock %}

{% block body %}
<div id="main">
    <div class="page">
        <div class="container">
            <div class="row whitepage" style="margin-top:20px">
                <div class="col-xs-12">
                    <h4>Error</h4>
                    <p>We're sorry but an error has occurred.  Perhaps you were trying to go to <a href="https://rideshare.burningman.org/">Rideshare</a>.  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
