{% extends "base_error.html" %}

{% block head_title %}Page Not Found{% endblock %}

{% block extra_head %}
<style>
#transp {
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    padding-left:60px;
    color: rgba(255,255,255,.6);
    width:500px;
    height:333px;
    font-size: 16em;
}
p {
    font-family:"Courier New", Courier, monospace;
    font-size:1.2em;
    font-weight:bold;
}
img.shadow {
    box-shadow: 5px 5px 7px 3px rgba(188, 153, 88, 0.601961);
    margin-bottom:1.5em;
}
div.center {
    margin-left:auto;
    margin-right:auto;
    width:500px;
    padding-top:40px;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    transform: skew(-7deg,-7deg);
    z-index:5000;
}
</style>
{% endblock %}

{% block body %}
<div id="main">
  <div class="center">
    <div>
      <div id="transp">404</div>
      <img class="shadow" src="/static/project/img/fly_tent.jpg" />
      <p>We're sorry, but that page has been blown away.</p>
      <p>
        <a href="/">Go back to Rideshare</a> or <a href="/help">Send us a message</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
