{% extends "base_error.html" %}

{% block head_title %}Server Error{% endblock %}

{% block body %}
<div id="main">
    <div class="page">
        <div class="container">
            <div class="row whitepage" style="margin-top:20px">
                <div class="col-xs-12">
                    <h4>Error</h4>
                    <p>We're sorry but a server error has occurred. We've been notified and will look into it as soon as possible.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
