<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="PRAGMA" CONTENT="NO-CACHE">
<title>Burning Man {% block head_title %}{% endblock %}</title>
<!--[if IE]><style>
div {
zoom: 1; /* trigger hasLayout */
}
</style><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
<link rel="canonical" href="https://burningman.org/" />
{% include "_favicon.html" %}
<style>
body {
    font-size: 10pt;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
    margin: 0;
}
img {
    vertical-align: middle;
}
.bg-image {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #f7f2eb;
}
a.gohome {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    display: block;
    background: rgba(1, 1, 1, 0.6);
}
#main {
    background-image: linear-gradient(#ebe6df 0, rgba(188, 153, 88, 0.901961) 97%, #bc9958 100%);
    color: #382e25;
    padding-bottom: 8em;
}
#header {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#header a {
    outline: none;
}
#logo-wrapper img {
    width: 300px;
    margin: 6px auto 2px;
    border: 0;
}
#emblem {
    position: absolute;
    top: 55px;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
</style>
{% block extra_head %}{% endblock %}
</head>

<body>
  <div id="header" >
    <img src="/static/project/img/shark_attack.jpg" class="bg-image">
    <a tabindex="-1" class="gohome" href="https://burningman.org/">
      <div id="logo-wrapper">
        <img src="/static/project/img/burning-man-logo.png"  alt="Burning Man Logo" width="300px" height="42px">
      </div>
    </a>
    <div id="emblem" class="hidden-xs">
      <div>
        <a tabindex="-1" href="/">
          <img src="/static/project/img/rideshare_logo.png" alt="Burning Man Rideshare Logo"/>
        </a>
        </div>
    </div>
  </div> <!-- end header -->
  {% block body %}
  {% endblock %}
  {% block extra_body %}
  {% endblock %}
</body>
</html>
