<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta http-equiv="PRAGMA" CONTENT="NO-CACHE">

  <title>Burning Man {% block head_title %}{% endblock %}</title>
  <!--[if IE]><style>
  div {
  zoom: 1; /* trigger hasLayout */
  }
  </style><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"/>

  {% include "_favicon.html" %}
  <script src="{{ STATIC_URL }}project/js/d3.v3.min.js"></script>
  {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{region.name}}</h1>
	  {% if event %}
	    <h3>Rideshare usage for {{event.name}}</h3>
	    <p class="text-muted">{{ event.rideshare_set.count }} offers and requests, sorted by country and region.</p>
	  {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 d3container">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% block extra_body %}
  {% endblock %}
</body>
</html>
