<table max-width="600px;" style="border-width: 0px;border-spacing: 0px; border-style: none; border-collapse: collapse; background-color: white;">
    <tr class="emailHead">
        <td style="text-align:center; background-color:#2C5573; border-width: 2px; padding: 5px; border-style: solid; border-color: #2C5573; text-shadow: 2px 2px 5px rgba(50, 50, 50, .9);">
            <span style="color:#fff; font-family:OpenSans,Verdana;font-size:3em;">Rideshare</span>
        </td>
    </tr>
    <tr class="emailBody">
        <td bgcolor="#2C5573;" style="border-width: 2px; padding: 5px; border-style: solid; border-color: #2C5573; background-color: white;">
                {% if to_recipient %}
                    <p style="color:#2C5573; text-align:left; font-size:1.2em; font-weight:bold;">You have received a message in response to your listing on the {{ regional_name }} {{ site_name }} system.</p>
                {% else %}
                    <p style="color:#2C5573; text-align:left; font-size:1.2em; font-weight:bold;">This is the email you sent to a {{ site_name }} user. Please do not reply to this email &mdash; it will end up lost in the digital jungle.</p>
                {% endif %}
            <table width="auto" bgcolor="#FFF" style="border-width: 0px; border-spacing: 0px; border-style: none; border-collapse: collapse; background-color: white;">
                <tr>
                    <td valign="top" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white;" colspan="2">
                        This message was sent through the {{ regional_name }} {{ site_name }} system:
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white; text-align:right; font-weight:bold; vertical-align:top; width:25%;">
                        NAME:
                    </td>
                    <td bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white;">
                        {{ name }}
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white; text-align:right; font-weight:bold; vertical-align:top;">
                        EMAIL:
                    </td>
                    <td bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white;">
                        <a href="mailto:{{ email }}?subject={{regional_name}} {{site_name}}">{{ email }}</a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white; text-align:right; font-weight:bold; vertical-align:top;">
                        TELEPHONE:
                    </td>
                    <td bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white;">
                        {% if phone %}
                        <a href="tel:{{ phone }}">{{ phone }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white; text-align:right; font-weight:bold; vertical-align:top;">
                        CONTACT:
                    </td>
                    <td bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white;">
                        {{ info }}
                    </td>
                </tr>
                <tr>
                    <td valigh="top" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white; text-align:right; font-weight:bold; vertical-align:top;">
                        MESSAGE:
                    </td>
                    <td bgcolor="#FFF" style="white-space:pre-wrap; border-width: 0px; padding: 4px; border-style: none; background-color: white;">{{ message }}</td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="#FFF" style="border-width: 0px; padding: 4px; border-style: none; background-color: white;">
                        <p>
                            &nbsp;
                        </p>
                        <p>This email is in response to the following listing on {{ regional_name }} {{ site_name }}:<br />
                        https://{{hostname}}{{rideshare.get_absolute_url}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="emailFooter">
        <td style="height:10px; background-color:#2C5573; border-width: 2px; padding: 5px; border-style: solid; border-color: #2C5573;">
            <p>&nbsp;</p>
        </td>
    </tr>
</table>
