{% extends "base_d3.html" %}

{% block extra_head %}
{% endblock %}

{% block head_title %}Rideshare{% endblock %}
{% block body %}
{% if event_list %}
<h3>Events</h3>
  <ul>
  {% for event in event_list %}
    <li><a href="/usage/{{event.slug}}/">{{event.name}}</a></li>
  {% endfor %}
  <ul>
{% else %}
  {% if event.rideshare_set.count == 0 %}
    <h4>No rideshares for this event </h4>
  {% else %}
    <ul>
    {% for name, d3name in d3_names %}
    <li><a href="/usage/{{event.slug}}/{{d3name}}">{{name}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
{% endblock %}
